
*
  margin 0
  padding 0
html,body
  width 100%
  height 100%
  
a
  text-decoration: none
  color #000

ul,li,ol
  list-style: none

input,select 
  border 0
  outline 0
.exact-active 
  color #000!important
  .iconfont
    color #000!important
 
// .fade-enter-active,.fade-leave-active
//   transition opacity .3s

// .fade-enter,.fade-leave-to
//   opacity 0
//   position absolute
.ellipsis 
  overflow hidden
  text-overflow ellipsis
  white-space nowrap
  word-break break-all
  width 100%
  display block
.mint-header
  background-color #fff!important
.mint-swipe-indicators
  bottom -0.6rem!important
.is-active
  background-color red!important
  width .08rem
  height .08rem
  display block
  // opacity 0.2
  margin 0 3px
.mint-tab-item-label
  font-size .14rem!important
  line-height .2rem
.mint-swipe-items-wrap
  width 100%
.is-active 
  background-color: #fff !important;
  width: 0.08rem;
  height: 0.08rem;
  display: block;
  margin: 0 3px;

